<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension' >

  <!-- ======================================================================================= -->
  <!-- ======================================================================================= -->
  <!-- ======================================================================================= -->
  <?include $(sys.CURRENTDIR)\Product.wxi ?>
  <!-- ======================================================================================= -->

  <!-- ======================================================================================= -->
  <!-- REGISTRY COMPONENT GROUPS: Some very important settings -->
  <!--   a) ProductSettings:  -->
  <!--   b) SetupSettings:  -->
  <!--   c) BuildInfoSettings:  -->
  <!-- ======================================================================================= -->
  <Fragment>

    <!-- ======================================================================================= -->
    <!-- REGISTRY COMPONENT GROUP 1: <Plant iT base module> - Einstellungen  -->
    <!-- ======================================================================================= -->
    <!--
    <ComponentGroup Id="cgrp_Registry_ProductSetupSettings" Directory="DIR_BASEPROJECTROOT">
      <!- - NON PERMANENT: Wird beim FULL-Uninstall entfernt (aber NICHT bei Inplace-Uninstall während Upgrade) - ->
      <Component Id="cmp_Registry_ProductSettings_XYZ" Guid="$(var.guid_cmp_Registry_ProductSettings_XYZ)" Win64="yes">
        <RegistryKey Root='HKLM' Key='SOFTWARE\$(var.ProductSettingsFullRegRoot)' ForceCreateOnInstall='yes'>
          <RegistryValue Name='specialSetting_1' Value='[SPECIAL_PROP1]' Type='string' />
        </RegistryKey>
      </Component>
    </ComponentGroup>
-->

    <!-- ======================================================================================= -->
    <!-- REGISTRY COMPONENT GROUP 2: <Plant iT base modul Setup> - Einstellungen  -->
    <!-- ======================================================================================= -->
    <ComponentGroup Id="cgrp_Registry_SetupSettings" Directory="DIR_BASEINSTALLROOT">
      <Component Id="cmp_Registry_SetupSettings" Guid="$(var.guid_cmp_Registry_SetupSettings)" Win64="yes">
        <RegistryKey Root='HKLM' Key='SOFTWARE\$(var.ProductSetupFullRegRoot)' ForceCreateOnInstall='yes' ForceDeleteOnUninstall='no'>
          <RegistryValue Name='Installed' Value='1' Type='integer' />
          <RegistryValue Name='LicenseTermsAccepted' Value='1' Type='string' />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <!-- ======================================================================================= -->
    <!-- REGISTRY COMPONENT GROUP 3: Setup info settings -->
    <!-- ======================================================================================= -->
    <ComponentGroup Id="cgrp_Registry_Build_CurrentVersion" Directory="DIR_BASEINSTALLROOT">
      <Component Id="cmp_Registry_Build_CurrentVersion" Guid="$(var.guid_cmp_Registry_Build_CurrentVersion)" Win64="yes">
        <RegistryKey Root='HKLM' Key='SOFTWARE\$(var.ProductSetupFullRegRoot)\CurrentVersion' ForceCreateOnInstall='yes' ForceDeleteOnUninstall='no'>
          <RegistryValue Name='SetupUpgradeCode' Value='[UpgradeCode]' Type='string' />
          <RegistryValue Name='BuildDate' Value='[BUILD_PUBLISHPROP_BUILD_DATE]' Type='string' />
          <RegistryValue Name='BuildID' Value='[BUILD_PUBLISHPROP_BUILD_ID]' Type='string' />
          <!-- -->
          <RegistryValue Name='Name' Value='[BUILD_PUBLISHPROP_PRODUCT_NAME]' Type='string' />
          <RegistryValue Name='PartName' Value='[BUILD_PUBLISHPROP_PRODUCT_PART_NAME]' Type='string' />
          <!-- -->
          <RegistryValue Name='CurrentVersion' Value='[BUILD_PUBLISHPROP_VERSION_CURRENTVERSION]' Type='string' />
          <RegistryValue Name='ReleaseDate' Value='[BUILD_PUBLISHPROP_RELEASE_DATE]' Type='string' />
          <RegistryValue Name='ReleaseStatus' Value='[BUILD_PUBLISHPROP_RELEASE_STATUS]' Type='string' />
          <RegistryValue Name='VersionDescription' Value='[BUILD_PUBLISHPROP_VERSION_DESCRIPTION]' Type='string' />
          <RegistryValue Name='Version' Value='[BUILD_PUBLISHPROP_VERSION_NUMBER]' Type='string' />
          <RegistryValue Name='VersionName' Value='[BUILD_PUBLISHPROP_VERSION_NAME]' Type='string' />
          <RegistryValue Name='VersionKeyText' Value='[BUILD_PUBLISHPROP_VERSION_KEYTEXT]' Type='string' />
          <RegistryValue Name='VersionUpdateNumber' Value='[BUILD_PUBLISHPROP_VERSION_UPDATENUMBER]' Type='string' />
          <RegistryValue Name='VersionUpdateRevision' Value='[BUILD_PUBLISHPROP_VERSION_UPDATEREVISION]' Type='string' />
          <RegistryValue Name='VersionUpdateDate' Value='[BUILD_PUBLISHPROP_VERSION_UPDATEDATE]' Type='string' />
          <RegistryValue Name='VersionUpdateLevel' Value='[BUILD_PUBLISHPROP_VERSION_UPDATELEVEL]' Type='string' />
        </RegistryKey>
      </Component>
      <Component Id="cmp_Registry_SetupIdentityEntry" Guid="$(var.guid_cmp_Registry_SetupIdentityEntry)" Win64="yes">
        <RegistryKey Root='HKLM' Key="SOFTWARE\$(var.ManufacturerRegRoot)\@SETUP\[UpgradeCode]" ForceCreateOnInstall='yes'>
          <RegistryValue Name='Setup name' Value='$(var.ProductSetupName)' Type='string' />
          <RegistryValue Name='Setup version' Value='$(var.ProductSetupVersion)' Type='string' />
          <RegistryValue Name='Setup date' Value='[Date]' Type='string' />
          <RegistryValue Name='Setup time' Value='[Time]' Type='string' />
          <RegistryValue Name='Setup user' Value='[%USERDOMAIN]/[%USERNAME]' Type='string' />
          <RegistryValue Name='Setup file name' Value='$(var.ProductSetupFileMSIName)' Type='string' />
          <RegistryValue Name='RegistryKey' Value='SOFTWARE\$(var.ProductSetupFullRegRoot)' Type='string' />
        </RegistryKey>
      </Component>

    </ComponentGroup>

  </Fragment>
</Wix>
